NODE_ENV=development
PORT=3300

# DATABASE CONFIG
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=todo_app

# REFRESH TOKEN / JWT SECRET (Since you installed passport-jwt)
JWT_SECRET=super_secret_key_change_me
JWT_EXPIRATION=3600s
